
body {
    padding: 0 7% 6vh;
    text-align: justify;
}

#toast {
    position: fixed;
    max-width: 40vw;
    top: 70vh;
    left: 50vw;
    transform: translateX(-50%);
    background-color: #f0e68cff;
    opacity: 0;
    color: #111111ff;
    transition: opacity 0.3s;
    text-align: center;
    padding: 8px 30px;
    font-size: 1.5em;
    z-index: 50000;
}

#toast.activated {
    opacity: 1;
}

#toolBar {
    position: fixed;
    top: 0;
    z-index: 10001;
    width: 100%;
    left: 0;
}

#tooltip {
    position: fixed;
    opacity: 0;
    padding: 8px;
    transition: opacity 0.2s;
    z-index: 30000;
}

#tooltip.activated {
    opacity: 1;
}
