
#page {
    width: 70vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-width: 0;
}

body {
    padding: 0 7% 6vh;
    text-align: justify;
}

#panel {
    position: absolute;
    top: 0;
    left: 70vw;
    width: 30vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.boundingBox {
    position: fixed;
    background-color: rgba(198, 222, 31, 0.3);
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    pointer-events: none;
    z-index: 10000;
}

.contentBox {
    position: fixed;
    /*background-color: rgba(255, 100, 100, 0.3);*/
    top: -50vh;
    left: 75vw;
    width: 20vw;
    z-index: 10000;
    padding: 16px;
}

.unknownBox {
    position: relative;
    /*background-color: rgba(255, 100, 100, 0.3);*/
    left: 5vw;
    width: 20vw;
    z-index: 10000;
    padding: 16px;
    margin-top: 20px;
}

#unknowns {
    top: 38px;
    height: calc(100vh - 38px);
    width: 30vw;
    overflow-y: scroll;
    padding: 20px 0;
}

#toast {
    position: fixed;
    max-width: 40vw;
    top: 70vh;
    left: 50vw;
    transform: translateX(-50%);
    background-color: #f0e68cff;
    opacity: 0;
    color: #111111ff;
    transition: opacity 0.3s;
    text-align: center;
    padding: 8px 30px;
    font-size: 1.5em;
}

#toast.activated {
    opacity: 1;
}

#toolBar {
    position: fixed;
    top: 0;
    z-index: 10001;
    width: 100%;
    left: 0;
}
